
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #1c1c39;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.logo-image {
  width: 200px;
  height: auto;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  margin-top: 60px;
}

.navbar ul li{
  margin: 0% 50%;
  text-decoration: none !important;
  list-style: none;
  font-weight: bolder;
  font-size: larger;
}

.navbar ul li:hover{
  background-color: #.navbar ul li;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
}

.content-contain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
}

.photo1 img{
  width: 100%;
}

.photo1{
  margin: 0px 10px;
}

.heading{
  margin: 0px 20px;
}